-{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block extra_head %}
<link href="{% static "lab/mapglyphs/mapglyphs.css" %}" rel="stylesheet">
{% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
   {{ block.super }}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1><span id="jumbo-innovation">Innovation</span><span id="jumbo-lab">Lab</span> <span id="jumbo-geonode">GeoNode</span></h1>
      <p>Open data to further your understanding of disaster risk</p>

    </div>
  </div>
  {% endblock %}

  {% block mainbody %}
  <div class="hazard-box">
  <div class="container">
    <div class="row home-facets">
      <div>
        <h1>Hazard datasets</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div class="col-md-3">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-earthquake.png" %}"></img></a></p>
          <h3><a href="#earthquake">Earthquake</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 32 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-drought.png" %}"></img></a></p>
          <h3><a href="#earthquake">Drought</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 12 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-flood.png" %}"></img></a></p>
          <h3><a href="#earthquake">Flood</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 10 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-tsunami.png" %}"></img></a></p>
          <h3><a href="#earthquake">Tsunami</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 8 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-storm-surge.png" %}"></img></a></p>
          <h3><a href="#earthquake">Storm Surge</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 43 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-strong-wind.png" %}"></img></a></p>
          <h3><a href="#earthquake">Strong Wind</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 3 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <p><a href="#earthquake"><img src="{% static "geonode/img/hazard-icon-volcanic-ash.png" %}"></img></a></p>
          <h3><a href="#earthquake">Volcanic Ash</a></h3>
          <p class="text-center"><a class="btn btn-default" href="#earthquake" role="button">{% trans "View 51 layers" %} &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="post-disaster-box">

    <div class="container">
      <div class="row home-facets">


      <div class="col-md-12">
        <h1>Post disaster</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="col-md-4">
          <p><a href="#nepal"><i class="mg map-np mg-5x"></i></i></a></p>
          <h3><a href="#nepal">Nepal Earthquake</a></h3>
          <p class="text-center">2015-09-08</p>
          <p class="text-center"><a class="btn btn-default" href="#nepal" role="button">{% trans "View 51 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <p><a href="#nepal"><i class="mg map-ph mg-5x"></i></a></p>
          <h3><a href="#nepal">Philippines Typhoon</a></h3>
          <p class="text-center">2015-09-08</p>
          <p class="text-center"><a class="btn btn-default" href="#nepal" role="button">{% trans "View 51 layers" %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <p><a href="#nepal"><i class="mg map-mw mg-5x"></i></a></p>
          <h3><a href="#nepal">Malawi Floods</a></h3>
          <p class="text-center">2015-09-08</p>
          <p class="text-center"><a class="btn btn-default" href="#nepal" role="button">{% trans "View 51 layers" %} &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="container">

      <div class="row home-facets">
        <h1>Open Data</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-5x rotate-45"></i></a></p>
        <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
        <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
        {% if user.is_authenticated %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
        {% else %}
        <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-5x"></i></a></p>
        <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
        <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-default" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        {% else %}
        <p><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-5x"></i></a></p>
        <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
        <p>{% trans "GeoNode allows registered users to easily upload geospatial data in several formats including shapefile and GeoTiff." %}</p>
        <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
      </div>
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
  <script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
  </script>

{% endblock extra_script %}
