{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Data" %} - {{ block.super }} {% endblock %}

{% block main %}
<div class="twocol">
  <div id="search_form" class="block">

<h2>{% trans "Available Data" %}</h2>
    <ul>
       {% for object in object_list %}
       <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
       {% empty %}
       <span>{% trans "There are no layers, why don't you" %}  <a href="{% url geonode.maps.views.upload_layer %}">{% trans "upload one?" %}</a></span>
       {% endfor %}
    </ul>
  </div> 


  <!--
  <div id="keywords" class="block">
    <h2>{% trans "Browse" %} <span class="subtitle">{% trans "by keyword" %}</span></h2>
    <div class="keywords_col1"></div>
    <div class="keywords_col2"></div>
    <div class="keywords_col3"></div>
  </div>
  --> 

  <div id="upload" class="block">
    <h2>{% trans "Upload" %}</h2>
    <p>{% trans "We support Shapefile and GeoTIFF uploads." %}
    <a class="layer-upload-link" href="{% url geonode.maps.views.upload_layer%}">{% trans "Upload a new layer"  %}</a>
    </p>
  </div>

  <div class="block">
    <h2>{% trans "For Developers" %}</h2>
    {% blocktrans %} 
    If you are interested in information about accessing this information through OGC services, please visit our
    {% endblocktrans %}
    <a href="{% url geonode.views.developer %}">{% trans "developer page" %}</a>.
  </div>
</div>
{% endblock %}

{% block sidebar %}
  {% block sidebar_info %}    
  {% endblock %}

{% endblock %}
