{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Browse Maps" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}

{% block main %}
<div class="twocol">


  <div id="search_form" class="block">
    <h2>{% trans "Available Maps" %}</h2>
    <ul>
       {% for object in object_list %}
       <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
       {% empty %}
       <span>{% trans "There are no maps, why don't you" %}  <a href="{% url geonode.maps.views.newmap %}">{% trans "create one?" %}</a></span>
       {% endfor %}
    </ul>
  </div> 
  <div id="create" class="block">
    <h2>{% trans "Create Maps" %}</h2>
    <p>{% trans "Use GeoNode's Map Composer application to create your own maps.  Add layers from this GeoNode or remote services, and style them." %}
    </p>
    <p>
      <a href="{%url geonode.maps.views.newmap %}">{% trans "Create your own map" %}</a>
    </p>
  </div>

  <!-- "Your Maps" button goes here -->
  <!-- create map button goes here -->

</div>
{% endblock %}

{% block sidebar %}
{% endblock %}

