PIL
OWSLib==0.4.0
Django==1.4
simplejson # needed for python2.5
django-extensions
httplib2
gsconfig
django-registration
django-profiles
-e git+https://github.com/ericflo/django-avatar.git#egg=avatar
django-staticfiles
django-taggit==0.9.3
agon-ratings==0.2
South==0.7.3
lxml
-e git+https://github.com/toastdriven/django-haystack.git#egg=django-haystack
